/** For Flash Notices **/

.flash {
	position: absolute;
			 top: 30px;
			left: auto;
	padding: 0.8em; 
	margin-bottom: 1em; 
	border: 2px solid #ddd;
}

.failure {
	background: #fbe3e4; 
	color: #8a1f11; 
	border-color: #fbc2c4;
}

.success {
	background: #e6efc2;
	color: #264409;
	border-color: #c6d880;
}

.notice {
	background: #fff6bf;
	color: #514721;
	border-color: #ffd324;
}

.info { 
	background: #d5edf8; 
	color: #205791; 
	border-color: #92cae4;
	}